.mapbox-gl-wrapper {
  height: 400px;
}

.mapbox-gl-container {
  position: absolute;  
  top:0;
  bottom:0;  
  width:100%;  
}

.field--label-above .mapbox-gl-container, .field--label-inline .mapbox-gl-container {
  top: 40px;
}

.mapbox-gl-layer-menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 10px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0,0,0,0.4);
  font-family: 'Open Sans', sans-serif;
}

.mapbox-gl-layer-menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  text-align: center;
}

.mapbox-gl-layer-menu a:last-child {
  border: none;
}

.mapbox-gl-layer-menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

.mapbox-gl-layer-menu a.active {
  background-color: #3887be;
  color: #ffffff;
}

.mapbox-gl-layer-menu a.active:hover {
  background: #3074a4;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
